.bicycle-routes-legend {
  position: absolute;
  bottom: 16px;
  right: 30px;
  z-index: index($zindex, footer);
  padding: $border-radius-bigger;
  padding-bottom: 0;
  overflow: hidden;
  background: $white;
  border-radius: $border-radius-bigger;
  max-width: 450px;

  &--hidden {
    display: none;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }

  li {
    width: 50%;
    font-size: $font-size-small;
    line-height: $font-size-small;
    display: flex;
    margin-bottom: 8px;
  }

  &__color {
    width: $font-size-small;
    height: 0;
    display: inline-block;
    margin-right: 4px;
    border: 0;
    border-top: 3px;
    margin-top: 6px;
  }
}
