.insident-info {
  border-bottom: solid 1px $light-gray;
  padding: 0 0 10px;
  margin: 5px 0 -5px;
  line-height: 1.75em;

  .description {
    display: block;
    font-size: $font-size-small;
    font-weight: $font-weight-medium;
    color: $black;
  }

  .duration {
    font-size: $font-size-small;
    font-weight: $font-weight-medium;
    color: $gray;
  }
}

.insident-message {
  max-height: 200px;
  overflow-y: scroll;
  font-size: $font-size-small;
  font-weight: $font-weight-medium;
  white-space: pre-wrap;
}

.insident-modal {
  .insident-info {
    border: none;
  }

  .insident-message {
    max-height: none;
    overflow-y: auto;
  }
}

.extended-content {
  list-style-type: none;
  padding: 0;

  li {
    margin: 0 0 5px;

    &.link {
      margin-bottom: 10px;
    }

    span {
      display: inline-block;
      min-width: 25%;
      margin-right: 10px;
    }

    img {
      cursor: pointer;
    }
  }
}
