.maintenance-vehicle-legend {
  padding: $border-radius-bigger;
  padding-bottom: 0;
  overflow: hidden;
  background: $white;
  border-radius: $border-radius-bigger;

  &--hidden {
    display: none;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }

  li {
    width: 50%;
    font-size: $font-size-small;
    line-height: $font-size-small;
    display: flex;
    margin-bottom: 8px;
  }

  &__color {
    width: $font-size-small;
    height: $font-size-small;
    display: inline-block;
    margin-right: 4px;
  }
}
