.select-map-layers-dialog-content {
  display: flex;
  flex-direction: column;
  margin-top: 0.25em;
  position: relative;

  &.bubble-dialog-content--large {
    white-space: nowrap;
  }

  .checkbox-grouping + .checkbox-grouping {
    margin-top: 2em;

    &::before {
      border-top: 1px solid $light-gray;
      content: '';
      left: 0;
      margin-top: -1.1em;
      right: 0;
      position: absolute;
    }
  }

  .option-checkbox-container + .option-checkbox-container {
    margin-top: 0.25em;
  }

  & .dialog-clear-button {
    margin-bottom: 0.25em;
  }

  &.bubble-dialog-content--fullscreen {
    & .dialog-clear-button {
      margin: 1em 0 0 0;
    }
  }

  &.bubble-dialog-content .maintenance-vehicles-container {
    background: #EEF1F3;
    border-top: 1px solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;
    padding: 0.8em 1.5em 0;
    margin: 0 -1.5em 0.8em;

    > .toggle-item label {
      color: #3B3B3B !important;
    }
  }
}
