@import './street-mode-selector.scss';

.street-mode-selector-panel {
  display: flex;

  .street-mode-selector-panel-header {
    align-items: center;
    display: flex;
  }

  .street-mode-selector-panel-buttons {
    @extend %buttons;
  }

  .route-here-container {
    margin-left: auto;
    margin-right: 0.5em;
    color: $primary-color;
    font-size: $font-size-xlarge;

    span {
      cursor: pointer;
      vertical-align: text-top;

      &:hover {
        color: darken($primary-color, 10%);
      }
    }
  }
}
