@import './street-mode-selector.scss';

.street-mode-selector-panel {
  display: flex;

  .street-mode-selector-panel-header {
    align-items: center;
    display: flex;
  }

  .street-mode-selector-panel-buttons {
    @extend %buttons;
  }

  .route-here-container {
    margin-left: auto;
    display: flex;

    button {
      color: $primary-color;
      font-size: $font-size-xlarge;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 0;
      padding: 0;
      min-width: 3rem;
      min-height: 2.5rem;

      span {
        display: flex;
      }

      &:hover {
        color: darken($primary-color, 10%);
      }

      .icon-container {
        justify-content: center;
      }
    }
  }
}
